.add-client-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.add-client-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.add-client-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-client-form-item {
  margin-bottom: 10px;
}

.client-submit-btn {
  border: none;
  background-color: #507ba8;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.client-submit-btn:hover {
  background-color: #a5823c;
}
