

.client-card-inner-container {
  margin: 15px;
}

.client-card-client-name {
  margin-top: 10px;
}

.client-card-item-container {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.client-card-header {
  font-size: .8rem;
  color: #929aae;
  margin-bottom: 5px;
}

.client-card-first-name,
.client-card-last-name,
.client-card-phone-number,
.client-card-email-address {
  border: .5px solid #545e75;
  border-radius: 5px;
  padding: 10px;
}