.add-comment-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-comment-form {
  width: 90%;
}

.add-comment-input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}