.add-comment-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.add-comment-form {
  width: 100%;
}

.add-comment-input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}