/* .btn-component {
  border: none;
  padding: 10px;
  border-radius: 10px;
}  */

.submit:hover {
  background-color: #a5823c;
  color: white;
}

.submit {
  border: none;
  background-color: #545e75;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.delete {
  border: none;
  color: white;
  padding: 10px;
  background-color: #c03221;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.delete:hover {
  background-color: #a5823c;
  color: white;
}