/* .btn-component {
  border: none;
  padding: 10px;
  border-radius: 10px;
}  */

.submit:hover {
  background-color: #99c1b9;
  color: white;
}

.submit {
  border: 3px solid #32936f;
  background-color: white;
  padding: 10px;
  color: #32936f;
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  transition: .2s;
}

.delete {
  border: 1px solid #e83f6f;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 18px;
  padding-right: 18px;
  transition: .2s;
}

.delete:hover {
  background-color: #99c1b9;
  color: white;
}

.back {
  border: none;
  color: black;
  padding: 10px;
  background-color: #ffbf00;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 18px;
  padding-right: 18px;
  transition: .2s;
}

.back:hover {
  background-color: #99c1b9;
  color: white;
}