.kanban-item {
  border: .5px solid lightseagreen;
  padding: 15px;
  border-radius: 5px;
  width: auto;
  margin: 10px;
}

.kanban-item:hover {
  cursor: pointer;
  background-color: #99C1B9;
}

.kanban-item-link {
  text-decoration: none;
}

.kanban-item-title {
  color: black;
}