.home-main-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.add-client-btn {
  border: none;
  background-color: #c03221;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.add-client-link {
  color: white;
}

.add-client-btn:hover {
  background-color: #a5823c;
  color: white;
}

.add-project-btn {
  border: none;
  background-color: #545e75;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.add-project-link {
  color: white;
}

.add-project-btn:hover {
  background-color: #a5823c;
  color: white;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}