.client-view-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.client-view-projects-container {
  border: lightseagreen .5px solid;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
}

.client-header {
  font-weight: bold;
}

.client-view-project-header {
  font-weight: bold;
}