.client-container-status-container {
  margin-bottom: 30px;
  border: .5px solid #545e75;
  padding: 10px;
  border-radius: 5px;
}

.client-container-header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-container-state-label {
  font-size: 1rem;
}

.client-container-carrot {
  margin-left: 5px;
}

.client-container-headers {
  display: grid;
  grid-template-columns: 15% 15% 20% 25% 20% 5%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: .8rem;
  color: #929aae;
  width: 100%;
}

.client-container-list {
  list-style: none;
}