.clients-page-main-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.clients-page-add-client-btn {
  border: none;
  background-color: #c03221;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.clients-page-add-client-btn:hover {
  background-color: #a5823c;
  color: white;
}