.project-view-main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: .5px solid lightseagreen;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.project-view-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.project-view-edit-btn {
  border: none;
  background-color: #507ba8;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
}

.project-view-edit-btn:hover {
  background-color: #a5823c;
  color: white;
}

.project-view-project-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.project-view-title {
  font-weight: bold;
}

.project-view-description {
  margin-top: 15px;
}

.project-view-status {
  margin-top: 15px;
}