.project-container-status-container {
  margin-bottom: 30px;
  border: 1px solid lightcoral;
  padding: 10px;
  border-radius: 5px;
}

.project-container-header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-container-carrot {
  margin-left: 5px;
}