.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #d88c9a;
}

.header-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(62, 57, 57);
  margin-left: 20px;
}

.header-links-container {
  display: flex;
  flex-direction: row;
}

.header-link {
  font-size: .9rem;
  color: rgb(62, 57, 57);
  margin-left: 25px;
}