.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #3f826d;
}

.header-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #f7f7ff;
}