.kanban-main-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.kanban-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kanban-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 20px;
}

.kanban-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.kanban-edit-icon,
.kanban-trash-icon {
  margin: 5px;
}

.kanban-add-ticket-btn {
  background-color: #99C1B9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}