.activity-comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: .5px solid lightseagreen;
  padding: 10px;
  border-radius: 5px;
}

.activity-comment-commentText {
  font-weight: 400;
}

.activity-comment-created-at {
  margin-top: 5px;
  font-size: .8rem;
}